.unicode-font-choice {
}

/* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */
/*.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: auto;
    -moz-user-select: all;
    -ms-user-select: text;
    user-select: all;
}*/

h1 {
    font-family: 'IM Fell English SC', serif;
}

p {
    font-size: 24px;
    font-family: 'IM Fell English SC', serif;
}

label {
    font-size: 20px;
    font-family: 'IM Fell English SC', serif;
}

/* http://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap */
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 300px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}